@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --primary-color: #f97316;
  --gray-color: #9ca3af;
  --off-white: #f1f5f9;
}
body {
  font-family: "Montserrat", "sans-serif";
  margin: 0px;
}
body ul {
  padding-inline-start: 0px;
}
.container {
  padding: 0rem 1rem;
}
.container-center {
  max-width: 600px;
  margin: auto;
}
.hero {
  text-align: center;
  margin: 1rem;
  padding: 1rem 0rem;
}
.hero .hero-img {
  max-width: 80%;
  width: 500px;
  margin: auto;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.hero-text {
  color: var(--primary-color);
}
.hero h1 {
  color: var(--gray-color);
}

/** links **/
.links {
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}
.primary-link {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
}

.secondry-link {
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  color: var(--primary-color);
}

.non-bullet {
  list-style: none;
}
.section {
  padding: 0px;
}
section ul {
  padding: 0rem 1rem;
}

.list-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navigation .links {
  color: white;
}
.navigation .nav-pills {
  text-align: right;
  margin: auto;
}
.navigation .nav-hero {
  font-weight: bold;
  font-size: 1.2rem;
}

.navigation .link-active {
  font-weight: bold;
}

.section h3,
p {
  text-align: center;
  padding: 1rem;
}
.ow {
  background-color: var(--off-white);
}

.center {
  max-width: 400px;
  margin: auto;
}

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.footer .links {
  color: white;
}
.footer .footer-header {
  font-weight: bold;
  color: white;
  font-size: 1.2rem;
}

.footer ul {
  padding-inline-start: 0px;
}

.section a {
  text-align: center;
}
.list-space {
  padding-bottom: 2rem;
}

.showcase-list {
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  margin: 3rem auto;
}

.link-round {
  border-radius: 5rem;
}
body nav {
  max-width: 90%;
  margin: auto;
}

body footer {
  max-width: 97%;
  margin: auto;
}
